<?xml version="1.0" encoding="ISO-8859-1"?>

<subSystem type="graphics">
	<geomClasses>
		<!--
		<class id="ClassBox" modelType="MESH" file="media/graphics/models/3ds/box.ms3d"/>
		<class id="ClassGeoSphere" modelType="MESH" file="media/graphics/models/3ds/geoSphere.ms3d"/>
		<class id="ClassSphere" modelType="MESH" file="media/graphics/models/3ds/sphere.ms3d"/>
		<class id="ClassTerrain" modelType="MESH" file="media/graphics/models/3ds/terrain.ms3d"/>
		
		<class id="ClassWaterTower" modelType="MESH" file="media/graphics/models/3ds/watertower.3ds"/>
		<class id="ClassBrasilian" modelType="MESH" file="media/graphics/models/3ds/brasilianHouse.3ds"/>
		<class id="ClassHouse6" modelType="MESH" file="media/graphics/models/3ds/house6.3ds"/>
		<class id="ClassResidence" modelType="MESH" file="media/graphics/models/3ds/residence.3ds"/>
		<class id="ClassSkyscraper" modelType="MESH" file="media/graphics/models/3ds/skyscraper.3ds"/>
		<class id="ClassSpaceStation" modelType="MESH" file="media/graphics/models/3ds/space station.3ds"/>
		<class id="ClassStatium" modelType="MESH" file="media/graphics/models/3ds/stadium.3ds"/>
		<class id="ClassTheater" modelType="MESH" file="media/graphics/models/3ds/theater.3ds"/>
		<class id="ClassAqua" modelType="MESH" file="media/graphics/models/3ds/aqueduct.3ds"/>
		<class id="ClassStarwars" modelType="MESH" file="media/graphics/models/3ds/starwars.3ds"/>
		<class id="ClassHouseJapan" modelType="MESH" file="media/graphics/models/3ds/japanHouse.3ds"/>
		<class id="ClassChess1" modelType="MESH" file="media/graphics/models/3ds/chess-game-board.3ds"/>
		<class id="ClassChess2" modelType="MESH" file="media/graphics/models/3ds/34chess-game.3DS"/>
		-->
		
		<class id="ClassChess1" modelType="MESH" file="media/graphics/models/3ds/chess-game-board.3ds"/>
		<class id="ClassHouseJapan" modelType="MESH" file="media/graphics/models/3ds/japanHouse.3ds"/>
		<class id="ClassTerrain" modelType="MESH" file="media/graphics/models/3ds/terrain.ms3d"/>
	</geomClasses>
</subSystem>
