<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
	<coreScript file="media/scripts/core/core.lua"/>

	<subSystemList>
		<!-- order is important! physics first because of async -->
		<subSystem file="media/physics/config.xml"/>
		<subSystem file="media/ai/config.xml"/>
		<subSystem file="media/audio/config.xml"/>
		<subSystem file="media/graphics/config.xml"/>
		<subSystem file="media/input/config.xml"/>
	</subSystemList>
	
	<objectList>
		<object name="objA" script="media/scripts/objA/objA.lua">
			<audio>
				<sound file="media/audio/bell.wav" loop="TRUE"/>
			</audio>
			
			<graphics>
				<instance class="Sphere" x="0" y="10" z="0"/>
			</graphics>
			
			<physics>
				<type id="SPHERE" r="1" x="0" y="10" z="0"/>
			</physics>
		</object>
		
		<object name="objB" script="media/scripts/objB/objB.lua">
			<audio>
				<sound file="media/audio/bell.wav" loop="TRUE"/>
			</audio>
			
			<graphics>
				<instance class="Sphere" x="10" y="10" z="0"/>
			</graphics>
			
			<physics>
				<type id="SPHERE" r="1" x="10" y="10" z="0"/>
			</physics>
		</object>
		
		<object name="objC" script="media/scripts/objC/objC.lua">
			<audio>
				<sound file="media/audio/bell.wav" loop="TRUE"/>
			</audio>
			
			<graphics>
				<instance class="Sphere" x="0" y="10" z="10"/>
			</graphics>
			
			<physics>
				<type id="SPHERE" r="1" x="0" y="10" z="10"/>
			</physics>
		</object>
		<!--
		<object name="plane">
			<graphics>
				<instance class="Plane" x="0" y="0" z="0"/>
			</graphics>
			
			<physics>
				<type id="PLANE"/>
			</physics>
		</object>
		-->
	</objectList>
</config>