<?xml version="1.0" encoding="ISO-8859-1"?>

<scenes>
	<scene name="Stuff">
		<skyBox folder="skyboxes/sahara"/>
			
		<entities>
			<entity name="TeapotNormal" modelType="BUILTIN" geomType="TEAPOT" material="noise"/>
			<entity name="TeapotRefractive" modelType="BUILTIN" geomType="TEAPOT" material="RDCglass"/>
			<entity name="PlaneRefractive" modelType="BUILTIN" geomType="PLANE" length="25" width="25" material="NMCTglass"/>
			
			<!--<entity name="Watertower" modelType="MESH" file="3ds/watertower.3ds"/>-->
		</entities>
		
		<instances randomize="false" rows="10" columns="10" density="10">
			<instance entity="TeapotNormal" x="-5" y="-5" z="5" size="1"/>
			
			<instance entity="PlaneRefractive" x="0" y="0" z="0" size="1"/>
		</instances>
		
		<additionalPhysics>
			<!--<plane x="0" y="1" z="0" d="0"/>-->
		</additionalPhysics>
	</scene>
</scenes>
	