<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
	<coreScript file="media/scripts/core/core.lua"/>

	<subSystemList>
		<!-- order is important! physics first because of async -->
		<subSystem file="media/physics/config.xml"/>
		<subSystem file="media/ai/config.xml"/>
		<subSystem file="media/audio/config.xml"/>
		<subSystem file="media/graphics/config.xml"/>
		<subSystem file="media/input/config.xml"/>
	</subSystemList>
	
	
	<objectList>
		<object name="Chess">
			<graphics>
				<instance class="ClassChess" x="0" y="0" z="0"/>
			</graphics>
		</object>
	</objectList>
</config>