<?xml version="1.0" encoding="ISO-8859-1"?>

<config>
	<coreScript file="media/scripts/core/core.lua"/>

	<subSystemList>
		<subSystem file="media/ai/config.xml"/>
		<subSystem file="media/audio/config.xml"/>
		<subSystem file="media/graphics/config.xml"/>
		<subSystem file="media/physics/config.xml"/>
		<subSystem file="media/input/config.xml"/>
	</subSystemList>
	
	<objectList>
		<object id="objA" script="scripts/objA/objA.lua"/>
		<object id="objB" script="scripts/objB/objB.lua"/>
		<object id="objC" script="scripts/objC/objC.lua"/>
	</objectList>
</config>